# T-Mobile Pets V2 Development Board

# Copyright (c) 2018, Christian Taedcke
# Copyright (c) 2019  Lemonbeat GmbH
# SPDX-License-Identifier: Apache-2.0

config BOARD_PETS_V2_DEV_KIT
	bool "T-Mobile Pets V2 Development Kit"
	depends on SOC_SERIES_EFM32PG12B
	select SOC_PART_NUMBER_EFM32PG12B500F1024GL125
