config WIFI_RS9116W
    bool "RS9116W WiFi driver support"
    select HAS_RS9116W
    select POLL
    help
      Enables WiFi support for the Redpine Signals RS9116W combined
      WiFi Bluetooth module utilizing the the WiSeConnect SAPI

if WIFI_RS9116W

config WIFI_RS9116W_NAME
    string "Driver name"
    default "RS9116W"

choice WIFI_RS9116W_BUS
    bool "Select BUS interface"
	  default WIFI_RS9116W_BUS_SPI

config WIFI_RS9116W_BUS_SPI
    bool "SPI interface"
    select RS9116W_BUS_SPI
    depends on SPI
    select SENSOR
    help
      Uses the SPI interface to communicate to the RS9116W Module

config WIFI_RS9116W_BUS_UART
    bool "UART interface"
    select RS9116W_BUS_UART
    depends on SERIAL
    help
      Uses the UART interface to communicate to the RS9116W Module

endchoice # WIFI_RS9116W_BUS

config RSI_WIFI_DEBUG
    bool "WiFi driver debug"
    default y
	help
	  This option enables debug support for the RS9116W
	  WiFi driver

endif # WIFI_RS9116W

if NET_SOCKETS_OFFLOAD && NET_SOCKETS_SOCKOPT_TLS

config RSI_NEED_BAS64
  bool
  default y
  select BASE64

endif